
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="container">

        <h1 class="my-4">
            <font color="White">
                About :
                <small> Santa Clauses Workshop</small>
            </font>
        </h1>
        <p>
            Santa's workshop is a workshop where Santa Claus is said to make the toys and presents given out at Christmas. In Santa Claus mythology, the "workshop" is a sprawling commune located at the North Pole or in Lapland.
            In addition to housing the factory where toys are either manufactured or distributed by the elves, the complex also houses the residence of Santa Claus, his wife, companions and all of the reindeer.
        </p>
        <p><image src="img/workshop.jpg" alt="Santa's workshop" class="center"></p>
        <p>

        </p>
    </div>

</div>
